body {
	width: 80%;
	height: 100vh;
	/* margin: auto; */
	margin: 5;
}

.container {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
	-moz-column-gap: 10px; /* Firefox */
	column-gap: 10px;
	padding: 10px;
}

.container div {
	width: 100%;
	display: inline-block;
	background: lavender;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 10px;
}

.container img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
