<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
	</head>
<body>

	<div class="container">
		<div><img src="/static/images/{% if img_0 %}0{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_3 %}3{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_6 %}6{% else %}blank{% endif %}.jpeg" alt=img></div>

		<div><img src="/static/images/{% if img_1 %}1{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_4 %}4{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_7 %}7{% else %}blank{% endif %}.jpeg" alt=img></div>

		<div><img src="/static/images/{% if img_2 %}2{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_5 %}5{% else %}blank{% endif %}.jpeg" alt=img></div>
		<div><img src="/static/images/{% if img_8 %}8{% else %}blank{% endif %}.jpeg" alt=img></div>
	  </div>


</body>
</html>
